* {
    box-sizing: border-box;
  }
h1{
 font-family: arial;
 text-align: center;
    color:navy;
font-size: 70px;
border-style: solid;
border-color:navy;   
border-width: 10px;
border-radius: 0%;
}
#container{
    background-color:white;
}
body{
    margin: 0;
}
p{
    font-family: arial;
}
#panel1{
    font-family: arial;

}

#panel2{
    font-family: arial;

}
#panel3{
    font-family: arial;

}

